<html>
    <head>
        <title>Prediction</title>
    </head>
    <body>
        <table style="width:100%">
            <tr>
              <td>Nitrogen</td>
              <td>{{ res[0] }}</td>
            </tr>
            <tr>
              <td>Phosphorus</td>
              <td>{{ res[1] }}</td>
            </tr>
            <tr>
                <td>Potassium</td>
                <td>{{ res[2] }}</td>
            </tr>
            <tr>
                <td>Temprature</td>
                <td>{{ res[3] }}</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{ res[4] }}</td>
            </tr>
            <tr>
                <td>pH of soil</td>
                <td>{{ res[5] }}</td>
            </tr>
            <tr>
                <td>Rainfall</td>
                <td>{{ res[6] }}</td>
            </tr>
            <tr>
                <td><h2>Predicted Crop</h2></td>
                <td><h2>{{ res[7] }}</h2></td>
            </tr>
          </table>
          
    </body>
</html>