<html>
    <head>
        <title>Crop predictor</title>
    </head>
    <body>
        <form method="post" action="/">
            <input type="text" name="n" placeholder="Nitrogen content" required>
            <input type="text" name="p" placeholder="Phosphorus content" required>
            <input type="text" name="k" placeholder="Potassium content" required>
            <input type="text" name="temp" placeholder="Temprature" required>
            <input type="text" name="hum" placeholder="Humidity" required>
            <input type="text" name="ph" placeholder="pH of Soil" required>
            <input type="text" name="rain" placeholder="Rainfall in mm" required>

            <input type="submit">
        </form>
    </body>
</html>